<!DOCTYPE html>
<html lang="uz">
<%- include('partials/head'); %>
<%- include('partials/navbar'); %>
<main>

	<main class="container">



		<div class="wrapper d-flex flex-wrap justify-content-around">

			<% for(var i=0; i<array.length; i++) {%>
				<div class="d-flex flex-wrap justify-content-around">
					<a href="/team/<%= array[i].id %>" class="text-reset text-decoration-none text-secondary"
						style="color: #9AB5BE !important;max-width: 500px; width: 100%;">
						<div class="member rounded-3   bg-white m-3 p-3">
							<img src="assets/images/avatar/team-1.jpg">
	
							<div class="member__right">
								<h4 style="text-align: right; display: block; margin-right: 25px;" class="text-reset ">
									<%= array[i].name %>
								</h4>
								<div style="text-align: right; display: block; margin-right: 25px"><%=array[i].position %></div>
							</div>
						</div>
					</a>
				</div>
			 <% } %>
			


		</div>

	</main>
	<!-- <script>
		let wrapper = document.querySelectorAll(".wrapper") 

		function renderDoctors(array, wrapper) {
			//wrapper.innerHTML = null;
			let totalDoctors = 1;
			let tempFragment = document.createDocumentFragment();
			for (const item of array) {

				let newMainDiv = document.createElement("div");
				newMainDiv.setAttribute("class","d-flex flex-wrap justify-content-around");
				console.log(newMainDiv)
				let a = document.createElement("a");
				a.href = item.imgUrl; 
				a.setAttribute("class", "img")



				newLi.appendChild(newImg)
				tempFragment.appendChild(newLi)
				totalDoctors++;
			}

			elTotal.textContent = totalDoctors;
			if (totalDoctors != 0) {
				wrapper.appendChild(tempFragment)

			} else {}


		}
	</script> -->


	<%- include('partials/footer')%>

	<script src="./assets/js/main.js"></script>
	</script>


	</body>

</html>